<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>自习室管理系统</title>
        <meta name="description" content="杨慧">
        <meta name="keywords" content="杨慧">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>自习室管理系统<small>自习室信息管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>自习室管理系统</el-breadcrumb-item>
                    <el-breadcrumb-item>自习室信息管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="编号/位置" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-select v-model="chooseDay" placeholder="选择预约日期" v-model="pagination.day">
                            <el-option
                                    v-for="item in optionalDay"
                                    :key="item.labelDay"
                                    :label="item.labelDay"
                                    :value="item.labelDay">
                            </el-option>
                        </el-select>
                        <el-select v-model="chooseTime" placeholder="选择时间段" v-model="pagination.time">
                            <el-option
                                    v-for="item in optionalTime"
                                    :key="item.labelTime"
                                    :label="item.labelTime"
                                    :value="item.labelTime">
                            </el-option>
                        </el-select>
                        <el-button @click="findPage(1)" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                    </div>

                    <el-table size="small" current-row-key="ssrid" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="ssrid" align="center" label="自习室编号"></el-table-column>
                        <el-table-column prop="ssrname" align="center" label="自习室名称"></el-table-column>
                        <el-table-column label="开放状态" align="center">
                            <template slot-scope="scope">
                                <span>{{ scope.row.state == '1' ? '开放' : '关闭'}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column  align="center">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="pagination-container">
                        <el-pagination
                            class="pagiantion"
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!-- 新增标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="新增自习室" :visible.sync="dialogFormVisible">
                            <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="150px">
                                <el-row>
                                    <el-col :span="16">
                                        <el-form-item label="自习室编号" prop="ssrid">
                                            <el-input v-model="formData.ssrid"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="16">
                                        <el-form-item label="自习室名称" prop="ssrname">
                                            <el-input v-model="formData.ssrname"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="开放状态">
                                            <el-select v-model="formData.state">
                                                <el-option label="开放" value="1"></el-option>
                                                <el-option label="关闭" value="0"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>

                    <!-- 编辑标签弹层 -->
                    <div class="add-form">
                        <el-dialog title="编辑自习室" :visible.sync="dialogFormVisible4Edit">
                            <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                <el-row>
                                    <el-col :span="16">
                                        <el-form-item label="自习室编号" prop="ssrid">
                                            <el-input v-model="formData.ssrid"/>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="16">
                                        <el-form-item label="自习室名称" prop="ssrname">
                                            <el-input v-model="formData.ssrname"/>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <el-form-item label="开放状态">
                                            <el-select v-model="formData.state">
                                                <el-option label="开放" value="1"></el-option>
                                                <el-option label="关闭" value="0"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                </el-row>
                            </el-form>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        axios.defaults.withCredentials=true;
        var vue = new Vue({
            el: '#app',
            data:{
                pagination: {//分页相关模型数据
					  currentPage: 1,//当前页码
					  pageSize:10,//每页显示的记录数
					  total:0,//总记录数
					  queryString:null//查询条件
				},
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                rules: {//校验规则
                },
                optionalDay: [],
                optionalTime: [],
                chooseDay: '',
                chooseTime: '',
                backend_url:"http://localhost:9002"
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();
            },
            methods: {
                //编辑
                handleEdit() {
                    //数据校验
                    this.$refs["dataEditForm"].validate((valid)=>{
                        if(valid){
                            //数据校验成功,发起http请求
                            axios.put(this.backend_url+"/ssr/edit.do",this.formData).then((response)=>{
                                //判断是否成功
                                if(response.data.flag){
                                    //操作成功
                                    this.$message.success(response.data.message);
                                }else{
                                    //操作失败
                                    this.$message.error(response.data.message);
                                }
                            }).catch((error)=>{
                                this.showMessage(error);
                            }).finally(()=>{
                                this.findPage();
                                //隐藏新增窗口
                                this.dialogFormVisible4Edit=false;
                            });
                        }else{
                            //数据校验失败
                            this.$message.error("数据校验失败");
                        }

                    })
                },
                //添加
                handleAdd () {
                    this.$refs["dataAddForm"].validate((valid)=>{
                        if(valid){
                            //验证成功，发起http请求
                            axios.post(this.backend_url+"/ssr/add.do",this.formData).then((response)=>{
                                if(response.data.flag ){
                                    //请求成功
                                    this.$message.success(response.data.message);
                                }else{
                                    //请求失败
                                    this.$message.error(response.data.message);
                                }

                            }).catch((error)=>{
                                this.showMessage(error);
                            }).finally(()=>{
                                //刷新数据
                                this.findPage();
                                //隐藏新增窗口
                                this.dialogFormVisible=false;
                            });

                        }else{
                            //验证失败
                            this.$message.error("数据验证失败");
                        }
                    });
                },
                //分页查询
                findPage(pageNo) {
                    //如果传入页码则先更新模型中的页码
                    if(pageNo){
                        this.pagination.currentPage = pageNo;
                    }
                    //构造请求参数
                    var param = {
                        currentPage: this.pagination.currentPage,
                        pageSize: this.pagination.pageSize,
                        queryString: this.pagination.queryString,
                        chooseDay: this.chooseDay,
                        chooseTime: this.chooseTime
                    };
                    //发起http请求
                    axios.get(this.backend_url + "/ssr/findPage.do",{ params:param}).then((response) => {
                        //数据集和总数赋值给模型
                        this.dataList=response.data.rows;
                        this.pagination.total = response.data.total;
                        this.optionalDay = response.data.optionalDay;
                        this.optionalTime = response.data.optionalTime;
                    }).catch((error)=>{
                        this.showMessage(error);
                    });

                },
                // 重置表单
                resetForm(formName) {
                    if(this.$refs[formName]){
                        this.formData = {}
                        this.$refs[formName].resetFields();
                    }
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible=true;
                    this.resetForm('dataAddForm');
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                  //获取数据
                    axios.get(this.backend_url+"/ssr/findBySsrid.do?ssrid="+row.ssrid).then((response)=>{
                        if(response.data.flag){
                            // 显示编辑窗口
                            this.dialogFormVisible4Edit = true;
                            //修改表单数据模型
                            this.resetForm('dataEditForm');
                            this.formData = response.data.data;
                        }else{
                            this.$message.error(response.data.message);
                        }
                    }).catch((error)=>{
                        this.showMessage(error);
                    });
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage = currentPage;
                    this.findPage();
                },
                // 删除
                handleDelete(row) {
                  //alert(row.id);
                  this.$confirm("确认删除该自习室信息吗？","提示",{type:'warning'}).then(()=>{
                    //点击确定按钮时只需此处代码
                    axios.delete (this.backend_url+"/ssr/delete.do?ssrid="+row.ssrid).then((response)=>{
                       if(response.data.flag){
                           //成功
                           this.$message.success(response.data.message);
                           this.findPage();
                       } else {
                           // 失败
                           this.$message.error(response.data.message);
                       }
                    }).catch((error)=>{
                        this.showMessage(error);
                    });
                  });
                },
                //权限不足提示
                showMessage(r){
                    console.log(r);
                    if (r.message.indexOf("403") != -1){
                        this.$message.error("无权访问");
                    }else{
                        this.$message.error("网络异常");
                    }
                }
            }
        })
    </script>
</html>