<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanghui.ssrms.dao.OrderDao">

    <select id="selectByConditon" resultType="com.yanghui.ssrms.pojo.Order" >
        select * from t_order where user_username = #{username}
        <if test="queryPageBean.queryString != null and queryPageBean.queryString.length > 0">
            and ssr_ssrid like concat('%',#{queryPageBean.queryString},'%')
        </if>
    </select>

    <select id="adminSelectByConditon" resultType="com.yanghui.ssrms.pojo.Order">
        select * from t_order
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="ssr_ssrid != null">
                ssr_ssrid like concat('%',#{ssr_ssrid},'%')
            </if>
            <if test="user_username != null">
                AND user_username = #{user_username}
            </if>
        </trim>
    </select>

    <insert id="insertOrder" parameterType="com.yanghui.ssrms.pojo.Order">
        insert into t_order (id, chooseday, choosetime, user_username, ssr_ssrid, ordertime, isfinish) VALUES
        (#{id}, #{chooseday}, #{choosetime}, #{user_username}, #{ssr_ssrid}, #{ordertime}, #{isfinish})
    </insert>
    <update id="cancelById" parameterType="long">
        update t_order set
        isfinish = '4'
        where id = #{id}
    </update>
    <update id="updateOrder" parameterType="com.yanghui.ssrms.pojo.Order">
        update t_order set
        chooseday = #{chooseday},
        choosetime = #{choosetime},
        ssr_ssrid = #{ssr_ssrid},
        user_username = #{user_username},
        isfinish = #{isfinish}
        where id = #{id}
    </update>
    <select id="selectById" resultType="com.yanghui.ssrms.pojo.Order" parameterType="long">
        select * from t_order
        where id = #{id}
    </select>
</mapper>
